.noScroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}
.noScroll::-webkit-scrollbar {
  display: none;
}

.container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    /* transform: translateY(-20px); */
    transform: scale(0.7);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.title {
  font-size: 4rem;
  font-weight: 200;
  color: #d8eaec;
  animation: fadeIn 3s ease-in-out;
  font-family: "Poetsen One", sans-serif;
}
